<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <title>Login</title>
    
</head>
<body>
    
    <div class="top-bar">
        <img src="{% static 'logo.png' %}">
        <marquee scrollamount=30 class="tac-name-marque">Technical Approval Committee - Reward point calculation portal</marquee>
    </div>
    
        
    <div class="login">
        
        <div class="form">
            
            <h1 class="login-heading">Reward Point calculator</h1>
            {% if error_message %}
                <center><h2 style="color: red;">{{ error_message }}</h2></center>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <label for="user-category">You are:</label>
                <center>
                    <select name="user-category" class="user-category" >
                        <option value="Reviewer">Reviewer</option>
                        <option value="Team-Admin">Team Admin</option>
                    </select>
                </center><br>
                <label for="mail">Mail Id:</label> <br> 
                    <input type="text" name="mail" class="mail"><br>
                <label for="password">Password:</label> <br> 
                    <input type="password" name="password" class="password"><br>
                <input type="submit" value="Login" class="login-btn">
            </form>
        </div>
    </div>
</body>
</html>