<!DOCTYPE html>
{% load static %}
<nav class="nav-bar">
    <form method='post'>
        <button name = "nav-btn" class="nav-btn"><a name="nav-btn" href="/">Logout</a></button>
    </form>
</nav>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'reviewer.css' %}">
    <title>Reviewer Page</title>
</head>
<style>
    .entry{
        overflow-y: scroll;
    }
</style>
<body>
    <div class="top-bar">
        <img src="{% static 'logo.png' %}">
        <marquee scrollamount=30 class="reviewer-marque">Reviewer's Page - Reward point calculation portal - Technical Approval Committee</marquee>
    </div>
    <hr>
    <form method="POST" action="{% url 'reviewer_page' %}">
        <div class="pid">
            <center>
                <select name="pids" class="pid-input" >
                    {% for pid in pids %}
                        <option value="{{ pid }}">{{ pid }}</option>
                    {% endfor %}
                </select>
                
                <button type="submit" name="form-id" value="pid-form" class="pid-enter-button">Enter</button>
            </center>
        </div>
    </form>

    <center>
    <div class="row">
        <div class="col1">
            <div class="details">
                <div class="inside-details">
                    <form method="POST" action="{% url 'reviewer_page' %}">
                        <select name="stud-under-pid" class="stud-under-pid">
                            {% for roll_no in roll_nos %}
                                <option value="{{ roll_no }}">{{ roll_no }}</option>
                            {% endfor %}

                        </select>
                        <button type="submit" name="form-id" value="student-details-form" class="pid-enter-button">Enter</button>
                    </form>

                    {% if student_details %}
                        <h3>Name: {{student_details.Student_Name}}</h3>
                        <h3>Roll No: {{student_details.Student_RollNo}} </h3>
                        <table class="marks-table">
                            <tr>
                                <th>Modules</th>
                                <th>Marks</th>
                            </tr>
                            <tr>
                                <td>Initial Submission</td>
                                <td>{{student_details.Initial_submission}}</td>
                            </tr>
                            <tr>
                                <td>Final Submission</td>
                                <td>{{student_details.Final_submission}}</td>
                            </tr>
                            <tr>
                                <td>plagiarism</td>
                                <td>{{student_details.Plagiarism}}</td>
                            </tr>
                            <tr>
                                <td>Review mark</td>
                                <td>{{student_details.Reviewer_Mark}}</td>
                            </tr>
                            <tr>
                                <td>Team communication</td>
                                <td>{{student_details.Team_communication_mark}}</td>
                            </tr>
                            <tr>
                                <td>Worklog</td>
                                <td>{{student_details.Worklog}}</td>
                            </tr>
                            <tr>
                                <td><b>Total</b></td>
                                <td>100</td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="entry">
                <form class="review-team-mark" method='post' action="{% url 'reviewer_page' %}">
                    <center>
                        <br><br><br><br><br><br>
                        <h2>Reviewer Assessment</h2>
                        <label for="R1">R1</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R1">
                        <label for="R2">R2</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R2"><br><br>
                        <label for="R3">R3</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R3">
                        <label for="R4">R4</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R4"><br><br>
                        <label for="R5">R5</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R5">
                        <label for="R6">R6</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R6"><br><br>
                        <label for="R7">R7</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R7">
                        <label for="R8">R8</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R8"><br><br>
                        <label for="R9">R9</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R9">
                        <label for="R10">R10</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R10"><br><br>
                    </center>
                    <center>
                        <h2>Team Communication Assessment</h2>
                        <label for="T1">T1</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T1">
                        <label for="T2">T2</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T2"><br><br>
                        <label for="T3">T3</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T3">
                        <label for="T4">T4</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T4"><br><br>
                        <label for="T5">T5</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T5">
                        <label for="T6">T6</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T6"><br><br>
                        <button type="submit" name="form-id" value="mark-form" class="submit-btn" >Submit</button>
                    </center>
                </form>
            </div><br>
        </div>
    </div>
    </center>
</body>
</html>