<!DOCTYPE html>
<!--{% load static %}-->
<nav class="nav-bar">
    <button class="nav-btn"><a href="/admin/">ADMIN</a> </button>
    <button class="nav-btn"><a href="/reviewer_page/">Review</a></button>
    <button class="nav-btn"><a href="/">Logout</a></button> 
</nav>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="\static\admin_page.css">
    <title>Document</title>
</head>
<body>
    <div class="top-bar">
        <img src="{% static 'logo.png' %}">
        <marquee scrollamount=30 class="reviewer-marque">Reviewer's Page - Reward point calculation portal - Technical Approval Committee</marquee>
    </div>
    <hr>

    <div class="Admin-table-header">
        <div class="header-row">
            <div class="pid">
                <h2>PID</h2>
            </div>
            <div class="vl"></div>
            <div class="stud-name">
                <h2>Student</h2>
            </div>
            <div class="roll-no">
                <h2>Roll Number</h2>
            </div>
            <div class="initial">
                <h2>Initial Submission</h2>
            </div>
            <div class="final">
                <h2>Final Submission</h2>
            </div>
            <div class="plag">
                <h2>Plagiarism</h2>
            </div>
            <div class="reviewer-mark">
                <h2>Reviewer Mark</h2>
            </div>
            <div class="team-communication-mark">
                <h2>Team Communication</h2>
            </div>
            <div class="worklog">
                <h2>Worklog</h2>
            </div>
            <div class="review-status">
                <h2>Review Status</h2>
            </div>
        </div>
        <!--Illi Table content Baradhu-->
        <div class="Admin-table">
            <div class="a-row">
                
            </div>
        </div>
    </div>


    

</body>
</html>