<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/create_review.css">
    <title>Document</title>
</head>
<body>
    <div class="top-bar">
        <img src="/images/logo.png">
        <marquee scrollamount=30 class="reviewer-marque">Reviewer's Page - Reward point calculation portal - Technical Approval Committee</marquee>
    </div>
    <hr>

    <div class="create-review-div">
        <div class="form">
            <form method="post">
                <h2>Create review for PID</h2>
                <Label for="pid-input">PID:</Label>
                <input type="text" class="pid-input" name="pid-input">
                <input type="submit" class="enter" name="enter">
                {% if pid_details %}
                    
                {% endif}
            </form>
        </div>
    </div>
</body>
</html>