<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/login.css"/>
    <title>Document</title>
</head>
<body>
    
    <div class="top-bar">
        <img src="/images/logo.png">
        <marquee scrollamount=30 class="tac-name-marque">Technical Approval Committee - Reward point calculation portal</marquee>
    </div>
    
        
    <div class="login">
        
        <div class="form">
            <h1 class="login-heading">Reward Point calculator</h1>
            <form method="get">
                <label for="mail">Mail Id:</label> <br> 
                    <input type="email" name="mail" class="mail"><br>
                <label for="password">Password:</label> <br> 
                    <input type="password" name="password" class="password"><br>
                <button class="login-btn">Login</button>
            </form>
        </div>
    </div>
</body>
</html>