<!DOCTYPE html>
{% load static %}
<nav class="nav-bar">
    <button class="nav-btn"><a href="/">Logout</a></button>
</nav>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/review.css">
    <title>Document</title>
</head>
<body>
    <div class="top-bar">
        <img src="{% static 'logo.png' %}">
        <marquee scrollamount=30 class="reviewer-marque">Reviewer's Page - Reward point calculation portal - Technical Approval Committee</marquee>
    </div>
    <hr>
    <div class="pid">
        <center>
            <select name="pids" class="pid-input" >
                <option value="PID-160">PID-160</option>
                <option value="PID-161">PID-161</option>
                <option value="PID-162">PID-162</option>
            </select>
            
            <button class="pid-enter-button">Enter</button></center>
    </div>


    <div class="row">
        <div class="col1">
            
            <div class="details">
                <div class="inside-details">
                    <select name="stud-under-pid" class="stud-under-pid">
                        <option value="Student1">Student 1</option>
                        <option value="Student2">Student 2</option>
                        <option value="Student3">Student 3</option>

                    </select>
                    <h3>Name: Ramkumar K</h3>
                    <h3>Roll No: 7376222IT231</h3>
                    <table class="marks-table">
                        <tr>
                            <th>Modules</th>
                            <th>Marks</th>
                        </tr>
                        <tr>
                            <td>Initial Submission</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Final Submission</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>plagiarism</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Review mark</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>Team communication</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Worklog</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td>100</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="entry">
                <form class="review-team-mark" method='post'>
                    <center><h2>Reviewer Assessment</h2>
                        <label for="R1">R1</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R1">
                        <label for="R2">R2</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R2"><br>
                        <label for="R3">R3</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R3">
                        <label for="R4">R4</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R4"><br>
                        <label for="R5">R5</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R5">
                        <label for="R6">R6</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R6"><br>
                        <label for="R7">R7</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R7">
                        <label for="R8">R8</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R8"><br>
                        <label for="R9">R9</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R9">
                        <label for="R10">R10</label>
                        <input type="number" value="0" max ="10" min="0" step="0.5" name="R10"><br>
                    </center>
                    <center>
                        <h2>Team Communication Assessment</h2>
                        <label for="T1">T1</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T1">
                        <label for="T2">T2</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T2"><br>
                        <label for="T3">T3</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T3">
                        <label for="T4">T4</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T4"><br>
                        <label for="T5">T5</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T5">
                        <label for="T6">T6</label>
                        <input type="number" value="0" max ="5" min="0" step="0.5" name="T6"><br>
                        <input type="submit" class="submit-btn">
                    </center>
                </form>
            </div><br>
            
        </div>
    </div>
</body>
</html>
